<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="PollosWeedConnection"
             connectionString="Server=CARLITOX\PROYECTOS;Database=PollosWeed;Trusted_Connection=True;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
